<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Sample Application - collab demo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../css/main.css" />
</head>
<body>
<h1> Collab demo - Sample Application</h1>
    <p class='comment1' th:text="'This demo is for - ' + ${location} " />
<p class='comment2'> We are presenting how slack can be effective leveraged to speed up CI CD </p>
</body>
</html>
